@charset "UTF-8";
* {
	margin: 0px auto;	
	}
a:link {
	text-decoration: none;
	color: #FFFFFF;
	}
a:hover {
	text-decoration: none;
	color: #ED1B1E;
	}
a:active {
	text-decoration: none;
	color: #ED1B1E;
	}
a:visited {
	text-decoration: none;
	color: #FFFFFF;	
	}

a:link {
	text-decoration: none;
	color: #FFFFFF;
	}
a:hover {
	text-decoration: none;
	color: #ED1B1E;
	}
a:active {
	text-decoration: none;
	color: #ED1B1E;
	}
a:visited {
	text-decoration: none;
	color: #FFFFFF;	
	}
::-webkit-scrollbar-track {background-color: rgba(25,29,33,1);}
::-webkit-scrollbar {width: 6px; background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(214, 214, 214, 0.40); border-radius: 10px 10px 10px 10px;}

/*Title Bar*/
body {
	font-family:'Open Sans', sans-serif;
	background: rgba(25,29,35,1);
	}
div#container{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	display: block;
}
/*Carregamento*/
div#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	left:0px;
	background-color: rgba(25,29,35,1);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
div#loader img{
	width: 90px;
	height: auto;
	margin-top: 125px;
}
div#content {
	width: 100%;
	height: auto;
	margin-top: 32px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   	user-select: none;
	}
/*Capa dos filmes*/
div#content img {
	width: 13.7%;
	height: 100%;
	margin: 1.3%;
	-webkit-box-shadow: -1px 0px 25px 4px rgba(0,0,0,0.65);
	-moz-box-shadow:    -1px 0px 25px 4px rgba(0,0,0,0.65);
	box-shadow:         -1px 0px 25px 4px rgba(0,0,0,0.65);
	border-radius:       5px 5px 5px 5px;
	cursor: pointer;
	}
div#content img:hover {
	top:-2px;box-shadow: 0px 0px 1px 2px rgba(0,102,255,1);
	transition: all .2s ease-in-out;
	}
/*-------------------------*/